cache = build/npm_cache
optional = false
# npm has no sane way to use system certificates
strict-ssl = false
fetch-retry-maxtimeout = 6000000
fetch-retry-mintimeout = 1000000
registry = "https://repository.swedbank.net/artifactory/api/npm/fdp-npm-virtual/"
